body {
    font-family: 'Helvetica', arial, sans-serif;
    background-color: #EEE;
    color: blue;
    padding: 0px;
    margin: 0px;
}

#map {
    width: 100vw;
    height: 100vh;
}

.year-selector {
    display: flex;
    z-index: 1000;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    justify-content: flex-start;
    padding: 15px;
    background: rgba(36, 36, 36, 0.7);
    align-items: center;
}

button {
    font-family: 'Helvetica', arial, sans-serif;
    font-size: 18px;
    background: rgba(36, 36, 36, 1);
    color: #EEE;
    border: 0px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover, .active {
    background: #00B4FF;
}

#year {
    z-index: 2000;
    font-size: 36px;
    color: rgb(36, 36, 36);
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 15px;
    text-shadow: 0px 0px 10px rgba(36, 36, 36, 0.4);
}

.check {
    cursor: pointer;
    color: #EEE;
    margin-left: 10px;
}

/*
leaflet things
*/

/*
tool tip / pop up
there is a pop up / tool tip for the bike station markers 
*/

.bike-station-info-popup {
    color: black;
    font-size: 1em;
}
.bike-station-info-popup .bike-station-name {
    font-weight: bold;
}

/*leaflet override*/
.map .leaflet-popup-content-wrapper,
.map .leaflet-popup-tip {
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(81, 152, 214, 0.9);
}

