body {
  background-color: #EEE;
  color: blue;
  padding: 0px;
  margin: 0px;
}

#map {
  width: 100vw;
  height: 100vh;
}

.year-selector {
    z-index: 1000;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
